<section>
  <h2>About Me</h2>
  <div><img src="http://orangeiceberg.com/images/slobodan-110x110.gif" class="sidebar_avatar" alt="Slobodan Kovacevic" />
  <div id="sidebar-about">
    <p>
    Hello, my name is <a href="http://slobodankovacevic.com">Slobodan Kovačević</a>. I am a freelance Ruby developer.
    <!-- building web application using Ruby and Ruby on Rails -->
    </p>
    <p>
      <strong>Icebergist</strong> is my personal blog where I write mainly about Ruby and Ruby on Rails.
      <!-- a blog about technical and business challenges faced daily by a web application developer running his own business. From dealing with clients to dealing with Ruby code. -->
    </p>
    <p style="text-align:center;padding:10px;border:1px dashed #e89646;">
      <!--
      <strong style="font-size:14px;font-weight:bold;">I am available for hire.</strong>
      <br />
      <a href="http://orangeiceberg.com/contact">Contact me and find out how I can help you.</a>
      -->
      <strong style="font-size:14px;font-weight:bold;">Currently I am not available for hire.</strong>
      <br />
      <a href="http://orangeiceberg.com/contact">Want to contact me</a>?
      <!--Contact me through Orange Iceberg (my company).-->
    </p>
  </div>
</section>
