<section>
  <h2>About us</h2>
  <div>
    <a href="http://orangeiceberg.com">
      <img src="http://orangeiceberg.com/images/oi-logo-footer.png" class="sidebar_avatar" alt="Orange Iceberg web development consultancy" />
    </a>
  </div>
  <div id="sidebar-about">
    <p>
      Hello!
      We are <a href="http://orangeiceberg.com">Orange Iceberg</a> a team of Ruby developers.
    </p>
    <p>
      <strong>Icebergist</strong> is a place where we write about technical challenges we face.
      We build Ruby on Rails web applications, so it's mainly about Ruby and Ruby on Rails.
    </p>
    <p class="hire-us-box">
      <strong>We are available for hire.</strong>
      <br />
      <a href="http://orangeiceberg.com/contact">Find out how we can help you.</a>
    </p>
  </div>
</section>
