{{ if eq .Site.Params.twitter_tweet_button true }}
  <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ .Site.BaseURL }}{{ .Permalink }}" data-via="{{ .Site.Params.twitter_user }}" data-counturl="{{ .Site.BaseURL }}{{ .Permalink }}" >Tweet</a>

  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = '//platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>
{{ end }}

