{{ partial "head.html" . }}
<body>
  <div id="wrap">
    <header role="banner">
      {{ partial "navigation.html" . }}
    </header>
    <div id="main" class="container">
      <div id="content">
        <!-- content -->
        <div class="row">
          <div class="page-content col-md-9">
            <article role="article">
              <header class="page-header">
                <h1 class="entry-title">
                  Category: {{.Title }}
                </h1>
              </header>

              <div class="entry-content clearfix">
                <div id="blog-archives">
                  <div id="blog-archives">
                    {{ $posts := (where .Data.Pages "Type" "posts") }}
                    {{ range ($posts.GroupByDate "2006") }}
                      <h2>{{ .Key }}</h2>

                      {{ range (where .Pages "Type" "posts") }}
                        <article class="page-header">
                          <h1><a href="{{ .Permalink }}" title="{{safeHTML .Title }}">{{safeHTML .Title }}</a></h1>
                          <p class="meta text-muted">
                            {{ partial "post/date.html" . }}
                            {{ partial "post/categories.html" . }}
                          </p>
                        </article>
                      {{ end }}
                    {{ end }}

                  </div>
                </div>
              </div>
            </article>
          </div>

          <aside class="sidebar col-md-3">
            {{ partial "sidebar/about.html" . }}
            {{ partial "sidebar/recent_posts.html" . }}
            {{ partial "sidebar/category_list.html" . }}
            {{ partial "sidebar/tags.html" . }}
          </aside>
        </div>
        <!-- end content -->
      </div>
    </div>
  </div>
  <!-- start footer -->
  <footer role="contentinfo">
    {{ partial "footer.html" . }}
  </footer>
  {{ partial "after_footer.html" . }}
</body>
</html>

