/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
    height: 60px;
}

.sidebar_avatar {
  float: left;
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}

.rank-1 { font-size: 2em; }
.rank-2 { font-size: 1.7em; }
.rank-3 { font-size: 1.4em; }
.rank-4 { font-size: 1.1em; }
.rank-5 { font-size: 0.9em; }
.tag-cloud {
  margin: 5px 10px 5px 10px;
}

.hire-us-box {
  text-align:center;
  padding:10px;
  border:2px dashed #e89646;
}

.hire-us-box strong {
  font-size:14px;
  font-weight:bold;
}
